#dm-document-details,
#dm-document-versions {
    border: none;
    box-shadow: none;
    background: transparent;
}
#dm-document-details button.handlediv,
#dm-document-details h2.hndle,
#dm-document-versions button.handlediv,
#dm-document-versions h2.hndle {
    display: none;
}

/* general mb styles */
.dm-meta-box-row {
    margin-bottom: 15px;
}
.dm-meta-box-row:last-child {
    margin-bottom: 0;
}
.dm-meta-box-row label {
    font-weight: bold;
}
.dm-meta-box-row textarea {
    width: 100%;
    height: 175px;
    margin-top: 10px;
}

/* file list */
 .dm-meta-box-file-list {

 }
.dm-meta-box-file {
    overflow: hidden;
    margin-bottom: 3px;
}
.dm-meta-box-file:nth-child(even) {
    background: #fff;
}
.dm-meta-box-file.header {
    font-weight: bold;
}
.dm-meta-box-file > div {
    float: left;
    margin-right: 2%;
    padding: 2%;
}
.dm-meta-box-file > div:last-child {
    margin-right: 0;
}
.dm-meta-box-file .file-name {
    width: 33%;
}
.dm-meta-box-file .file-type {
    width: 6%;
}
.dm-meta-box-file .file-size {
    width: 10%;
}
.dm-meta-box-file .file-version {
    width: 8%
}
.dm-meta-box-file .file-action {
    width: 15%
}


/* admin loader */
.loader-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(204, 204, 204, 0.70);
    display: none;
}
.loader-image-container .loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
}
